.about {
    padding-top: 40px;
    padding-left: 50px;
}

.why-site {
    margin: 30px;
    padding: 20px;
    background-color: white;
    
    color: black;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.why-account {
    margin: 30px;
    padding: 20px;
    background-color: white;
    
    color: black;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}