.idea {
    border-style: solid;
    margin-top: 220px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 50px;
    width: 38%;
    background-color: rgba(15, 130, 0, 0.282);
    border-radius: 10px;
}

@media screen and (max-width:700px) {
    .idea {
        border-style: solid;
        margin-top: 230px;
        padding-left: 25px;
        padding-top: 25px;
        padding-bottom: 50px;
        width: 90%;
        background-color: rgba(15, 130, 0, 0.282);
        border-radius: 10px;
    }


}