.nftbox {
    margin: 20px;
    padding: 10px;
    width: 350px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.573), rgba(45, 45, 51, 0.573));
    border-style: solid;
    color: black;
    border-radius: 15px;
    float: left;
}

.receipt {
    margin: 20px;
    padding: 10px;
    height: auto;
    width: 500px;
    float: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.573), rgba(45, 45, 51, 0.573));
    border-style: solid;
    color: black;
    border-radius: 15px;
}

#itemimg {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    border-style: solid;
}

#buy {
    width: 100%;
    font-size: larger;
    color: white;
    font-weight:500;
    height: auto;
    text-align: center;
    border-radius: 5px;
    background-color: green;
}
#lock-img {
    height: 30px;
    width: auto;
}
#cpl-img {
    height: 30px;
    width: auto;
    border-radius: 10px;
}

.paypal-powered-by {
    color: black;
    
}
