.nftbox {
    margin: 20px;
    padding: 10px;
    width: auto;
    background-color: white;
    
    color: black;
    border-radius: 6px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.receipt {
    margin: 20px;
    padding: 10px;
    height: auto;
    width: 500px;
    background-color: white;
    
    color: black;
    border-radius: 6px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#itemimg {
    width: auto;
    height: 350px;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    color: grey;

    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

#itemimg2 {
    width: 470px;
    height: auto;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    color: grey;
}

#buy {
    width: 100%;
    font-size: larger;
    color: white;
    font-weight:500;
    height: auto;
    text-align: center;
    border-radius: 5px;
    background-color: green;
}
#lock-img {
    height: 30px;
    width: auto;
}
#cpl-img {
    height: 30px;
    width: auto;
    border-radius: 10px;
}

.paypal-powered-by {
    color: black;
    
}
@media screen and (max-width:2000px) and (min-width:700px) {
    .nftbox {
        margin: 5px;
        padding: 10px;
        width: auto;
        background-color: white;
        
        color: black;
        border-radius: 6px;
        float: left;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #itemimg {
        width: auto;
        height: 250px;
        border-radius: 6px;
        border-style: solid;
        border-width: 2px;
        color: grey;
    
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    }

}
@media screen and (max-width:700px) {
    .nftbox {
        margin: 5px;
        padding: 10px;
        width: 100%;
        background-color: white;
        
        color: black;
        border-radius: 6px;
        float: left;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #itemimg {
        width: 100%;
        height: auto;
        border-radius: 6px;
        border-style: solid;
        border-width: 2px;
        color: grey;
    
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    }
    .receipt {
        margin: 5px;
        padding: 10px;
        height: auto;
        width: 100%;
        background-color: white;
        
        color: black;
        border-radius: 6px;
        float: left;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #itemimg2 {
        width: 100%;
        height: auto;
        border-radius: 6px;
        border-style: solid;
        border-width: 2px;
        color: grey;
    }

}
