.profile {
    text-align: center;
	color: white;
}

.banner {
    margin-bottom: 25px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
}

.profile-info {
    text-align: start;
    background-image:  linear-gradient(black, rgb(49, 54, 58));
    border-radius: 15px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;

}

#profile_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border-style: solid;
  }

h5 {
    padding: 20px;
}


.control-panel {
	margin-left: 20%;
	margin-right: 20%;
}

.charts {
    background-color: rgb(45, 45, 45);
    border-radius: 15px;
    text-align: start;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.info {
    background-color: rgb(45, 45, 45);
    border-radius: 15px;
    text-align: start;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.settingdiv {
    padding-top: 25px;
}

.getPassword {
    color: white;
    text-align: center;
    
    background-color: black;
    padding: 30px;
    margin-top: 120px;
    margin-bottom: 20%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 12px;
}

#edit-btn {
    float: right;
    font-size: large;
}

@media screen and (max-width:900px) {
    .banner {
        border-radius: 15px;
        margin-left: 1%;
        margin-right: 1%;
    }
    
    .profile-info {
        text-align: start;
        border-radius: 15px;
        margin-left: 1%;
        margin-right: 1%;
        padding: 20px;
    
    }
    
    #profile_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 140px;
        width: auto;
        border-radius: 100%;
        border-style: solid;
      }
    
    h5 {
        padding: 0px;
    }
    .control-panel {
        margin-left: 1%;
        margin-right: 1%;
    }
}